<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <style>
          .color {
               color: red;
          }
     </style>
</head>

<body>
     <div id="root">
          <p>Name:
               <input type="text" v-model="name">
          </p>
          <br>
          <h1>{{ name }}</h1>


          <br>
          <p v-html="html"></p>
          <br>
          <!-- list rendering -->
          <ul>
               <li v-for="skill in skills">
                    {{ skill }}
               </li>
          </ul>
          <input type="text" v-model="newSkill">
          <button v-on:click="addNewSkill()">Add</button>
     </div>

     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

     <script>
          console.log(123);
          var app = new Vue({
               el: "#root",
               data: {
                    message: 'Hello World',
                    name: '',
                    html: '<h2> Its a html tag. </h2>',
                    newSkill: 'fgfgf',
                    skills: ['html', 'css', 'js'],

               },
               methods: {
                    addNewSkill: function () {
                         this.skills.push(this.newSkill);
                         this.newSkill = "";
                    }
               },
          });
     </script>
</body>

</html>